@charset "UTF-8";

h1 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 2.5vw;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
}

a {
  margin: 0 0 0 0;
  position: relative;
  font-size: 2vw;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
}

.sec01 {
  margin: 0 0 0 0;
	height: auto;
	background-color: #2857b1;
}

.flex_div {
  display: flex;
  justify-content: center;
}

.a_div {
  display: inline-block;
  width: 40%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.a_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.b_div {
  display: inline-block;
  width: 70%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.b_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}
