html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,a,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}

@charset "UTF-8";

html {
  font-family: 'M PLUS 1p', 'Montserrat', sans-serif;
}

.sub_area {
    position: relative;
    padding: 1.5vw 3vw 1.5vw 3vw;
}

.flex_div {
  display: flex;
  justify-content: center;
}

.a_div {
  display: inline-block;
  width: 40%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.a_div img {
  display: inline-block;
	width: 20%;
	height: auto;
}

.b_div {
  display: inline-block;
  width: 70%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
  text-align: left;
}

.b_div img {
  display: inline-block;
	width: 100%;
  height: auto;
}

.mission {
  position: relative;
  display: inline-block;
  margin: 2vw 0vw 0vw 0vw;
  padding: 2vw 2vw 2vw 2vw;
  border: dashed 0.4vw #808080;
  border-radius: 0vw;
  text-align: left;
}

/*---------- フッター ---------- */

footer {
    background: #2857b1;
    padding: 1vw 0vw 0vw 0vw;
    text-align: center;
	  font-size: 2vw;
    color: #fff;
}

footer nav {
    width: 100%;
    float: center;
}

footer nav li {
    display: inline-block;
    padding-right: 0%;
}

footer nav li a {
    text-decoration: none;
    font-size: 1.5vw;
    line-height: 2em;
    color: #fff;
    text-align: center;
}
